<% layout("/layouts/boilerplate") %>

<h2>Register</h2>

<form action="/register" method="POST">
  <input class="form-control mb-2" name="name" placeholder="Name" />

  <input class="form-control mb-2" name="email" placeholder="Email" />

  <input
    type="password"
    class="form-control mb-2"
    name="password"
    placeholder="Password"
  />

  <select name="role" class="form-control mb-2">
    <option value="tenant">Tenant</option>
    <option value="owner">Hostel Owner</option>
  </select>

  <button class="btn btn-primary">Register</button>
</form>
