<% layout("/layouts/boilerplate") %>

<div class="text-center">
  <h1>Welcome to HostelHub</h1>

  <p>Find hostels and roommates easily.</p>

  <a href="/hostels" class="btn btn-primary">Browse Hostels</a>
</div>
